In [ ]:
import sqlite3
import pandas as pd

# Argumentul sqlite3.connect("data.db") trebuie să fie calea către baza de date obținută
# în urma completării formularului
conn = sqlite3.connect("data.db")

# Selectarea răspunsurilor
df = pd.read_sql_query("SELECT * FROM answers", conn)

# Close the connection
conn.close()

# Display the DataFrame
df

,name,surname,position,year,country,category,q1,q2,q3,q4,q5,q6,q7,q8,q9,q10,elapsed_time
0,Test,Pc,student,1,germany,True,1,4,1,4,1,4,3,4,1,4,109
1,Test,Phone,resident,0,switzerland,True,1,1,1,2,1,1,1,2,1,3,50
2,Test,PhoneGer,doctor,0,romania,False,3,3,3,3,3,3,3,3,3,3,-44
3,Zoé,Schild,student,5,switzerland,True,2,3,2,4,3,1,3,3,3,4,118
4,Sychold,Eloise,student,5,switzerland,False,1,3,2,2,1,3,1,4,2,1,164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,paul,capraru,student,6,romania,False,3,1,2,3,2,4,2,2,1,1,77
101,Madalina,Lazar,resident,0,romania,False,3,1,3,3,1,4,2,2,2,4,213
102,Teodora,Simon,resident,0,romania,True,1,2,3,2,1,4,2,2,3,4,240
103,Emanuel-Florin,Ciubotariu,student,6,romania,False,3,4,1,2,3,4,1,2,1,1,266
104,Gîrbovan,Maria,student,1,romania,None,1,2,3,3,3,4,2,3,1,4,6467

In [ ]:
# Se renunta la dubluri
df = df.drop_duplicates(subset=['name', 'surname', 'position', 'country', 'category'])

# Se renunta la randurile ce nu contin informatii pentru categorie
df = df[df['category'].isin(['True', 'False'])]

# Se renunta la coloanele de mai jos. Numele si prenumele din cauza confidentialitatii,
# iar timpul răspunsului nu are o utilitate
df = df.drop(columns=['elapsed_time', 'name', 'surname']).reset_index(drop=True)

NameError: name 'df' is not defined

In [ ]:
# Se exporta datele in varianta finala sub forma de fisier .csv
df.to_csv("output.csv", index=False)